.weather-now,
.weather-details,
.weather-forecast {
  display: none;
  flex-direction: column;
  height: 345px;
  position: relative;
  border-bottom: 1px solid black;
}

.active {
  display: flex;
}

/* weather-no pannel */
.weather-now .temperature {
  font-size: 70px;
  margin-left: 23px;
  margin-top: 20px;
}

.weather-now .weather-icon-holder {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 40px;
}

.weather-now .city-name {
  position: absolute;
  bottom: 0;
  left: 0;
  margin-left: 12px;
  margin-bottom: 17px;
  font-size: 24px;
  word-break: break-all;
}

.weather-now .add-city {
  position: absolute;
  bottom: 0;
  left: 87%;
  margin-bottom: 10px;
}

/* weather-details pannel */
.weather-details .city-name {
  margin-top: 33px;
  margin-left: 17px;
  font-size: 24px;
  word-break: break-all;
}

.details ul {
  list-style-type: none;
  overflow: auto;
  max-height: 242px;
  max-width: 250px;
  margin-left: 17px;
  margin-top: 42px;
}

/* weather-forecast pannel */
.weather-forecast .city-name {
  margin-top: 33px;
  margin-left: 17px;
  margin-bottom: 5px;
  font-size: 24px;
  word-break: break-all;
}

.forecast-list ul {
  list-style-type: none;
  overflow: auto;
  max-height: 277px;
}

.forecast-list ul::-webkit-scrollbar {
  display: none;
}

/* forecast cards */
.for-item {
  width: 265px;
  height: 120px;
  border: 1px solid black;
  margin-left: 18px;
  margin-bottom: 9px;
}

.for-card {
  display: flex;
  flex-direction: row;
  font-size: 18px;
  line-height: 21px;
  align-self: center;
  padding: 8px 6px 8px 6px;
  width: 100%;
  justify-content: space-between;
}

.for-card .for-right {
  display: flex;
  flex-direction: column;
  position: initial;
  text-align: center;
  justify-content: center;
  width: 25%;
}

.for-card .for-left {
  width: 70%;
}

.for-right .for-weather {
  margin-top: 34px;
}

.for-right .for-icon {
  width: 31px;
  height: auto;
  margin: 0 auto;
}

.for-card .for-temp {
  margin-top: 38px;
}
